<script src="bower_components/holderjs/holder.js"></script>
<div ng-controller="CarouselCtrl">
  <carousel interval="myInterval">
    <slide ng-repeat="slide in slides" active="slide.active">
      <div>
        <!--img ng-src="{{slide.image}}"-->
        <div class="row">
          <div class="col-sm-6 col-md-3">
            <div id="carouse1Img1" class="thumbnail">
              <a href="/"><img data-src="holder.js/180x180" alt="...">
              <div class="caption">

              </div></a>
            </div>
          </div>
          <div class="col-sm-6 col-md-3">
            <div id="carouse1Img2" class="thumbnail">
              <a><img data-src="holder.js/180x180" alt="...">
              <div class="caption">

              </div></a>
            </div>
          </div>
          <div class="col-sm-6 col-md-3">
            <div id="carouse1Img3" class="thumbnail">
              <a><img data-src="holder.js/180x180" alt="...">
              <div class="caption">

              </div></a>
            </div>
          </div>
          <div class="col-sm-6 col-md-3">
            <div id="carouse1Img4" class="thumbnail">
              <a>
              <img data-src="holder.js/180x180" alt="...">
              <div class="caption">

              </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </slide>

  </carousel>
</div>
